<div class="background" id="sidebar-wrapper">
  <div class="sidebar-heading">
    <img src="/assets/img/kibana-logo.png" alt="" style="width: 10rem;"> 
  </div>
  <div class="list-group list-group-flush">
    <a href="#" class="list-group-item list-group-item-action background">Dashboard</a>
    <a href="#" class="list-group-item list-group-item-action background">Shortcuts</a>
    <a href="#" class="list-group-item list-group-item-action background">Overview</a>
    <a href="#" class="list-group-item list-group-item-action background">Events</a>
    <a href="#" class="list-group-item list-group-item-action background">Profile</a>
    <a href="#" class="list-group-item list-group-item-action background">Status</a>
  </div>
</div>