.background {
  background-color: #333333;
  color: #d4d4d4;
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#sidebar-wrapper {
  margin-left: 0;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: -15rem;
}

.searchbox {
  display: flex;
  font-size: 12px;
  background-color: #e5e5e5;
  margin-left: 1rem;
  color: #292929;
  height: 25px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  width: 82%;
}

.option{
  font-size: 12px;
  font-weight: 300;
  margin-left: 5px;
  margin-bottom: 0px;
}

.searchbox-place {
  margin-left: 5px;
  width: 82%;
  height: 12px;
  background-color: #e5e5e5;
  border-width: 0px;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

.section-title {
  color: #e5e5e5;
  font-size: 14px;
  margin-left: 1rem;
  font-weight: 400;
}

hr {
  border-color: #242424;
  margin: 0px;
  width: 10.5rem;
  margin-left: 1rem;
  margin-bottom: 0.5em;
  height: 1px;
}

input[type="checkbox"] {
  margin-left: 1rem;
  vertical-align: middle;
}

.section {
  margin-left: 1rem;
  margin-bottom: 1em;
}