<div class="background" id="sidebar-wrapper">
  <div class="sidebar-heading">
    <img src="/assets/img/kibana-logo.png" alt="" style="width: 10rem;">
  </div>
  <div class="list-group list-group-flush">
    <div class="searchbox">
      <fa-icon [icon]="faSearch"></fa-icon>
      <input class="searchbox-place" type="text">
    </div>
    <div>
      <label class="section-title">Tags:</label>
      <br>
      <div class="section">
        <app-tags [tags]=tags></app-tags>
      </div>
    </div>
    <hr>
    <div class="mb-2">
      <label class="section-title">File type:</label>
      <br>
      <input type="checkbox" name="" id="">
      <label class="option">Images</label><br>
      <input type="checkbox" name="" id="">
      <label class="option">Documents</label><br>
      <input type="checkbox" name="" id="">
      <label class="option">GIF</label><br>
      <input type="checkbox" name="" id="">
      <label class="option">Video</label><br>
      <input type="checkbox" name="" id="">
      <label class="option">Others</label><br>
    </div>
    <hr>
    <div>
      <label class="section-title">Modification date range:</label>
      <br>
      <input type="date">
      <input type="date">
    </div>
  </div>
</div>
