<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <app-top-bar></app-top-bar>
    <div style="display: flex; height: 92vh;">
      <div class="container-fluid">
        <div class="row preloaders">
          <div *ngFor="let doc of docs; index as i">
            <app-preloader [elemenSelection]="elemenSelection" [position]=i [name]="doc.name" [location]="doc.location" (click)="changeSeleciont(i)"></app-preloader>
          </div>
        </div>
        <div>
          <app-pagination></app-pagination>
        </div>
      </div>
      <!-- /#page-content-wrapper -->
      <div *ngIf="elemenSelection != -1">
        <app-doc-info [name]="docs[elemenSelection].name" [location]="docs[elemenSelection].location" [tags]="docs[elemenSelection].tags"></app-doc-info>
      </div>
    </div>
  </div>
