<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <app-top-bar></app-top-bar>

    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let doc of docs; index as i">
          <app-preloader [elemenSelection]="elemenSelection" [position]=i [name]="doc.name" [location]="doc.location" (click)="changeSeleciont(i)"></app-preloader>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
