img {
    width: 13vw;
    height: 7.31vw;
}
label {
    color: #808080;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}
div {
    margin: 1rem;
    width: 15vw;
    text-align: center;
    padding-top: 1em;
}

.selected {
    border: 3px solid #808080;
    background-color: #3b3b3b;
}