.cont{
  animation-name: opening;
  animation-duration: 1s;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.main {
  background-color: #333333;
  height: 100%;
  width: 20rem !important;
  text-align: center;
}
.text1{
  font-size: 15px;
  color: #c3c3c3;
}

img {
  margin-top: 1em;
  margin-bottom: 2em;
  width: 16rem;
}

.title {
  font-size: 21px;
  font-weight: 400;
  color: #cecece;
  margin-top: 2em;
}

@keyframes opening {
  0% {
    width: 0rem;
  }

  100% {
    width: 20rem;
    padding: 0;
    margin-right: 0em;
  }
}
